<div class="students">
    <div class="row justify-content-center">
        <div class="col-lg-12" style="margin-top: 10px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{user.honorific}} {{user.lastName}}'s Class Roster</h5>
                     <ul id="roster" class="list-group">
                        {{#each students}}
                        <li data-id="{{this.id}}" class="list-group-item">
                           <a href="roster/{{this.id}}">{{this.text}}</a>

                        </li>
                        {{/each}}
                     </ul>
                     <button id="refresh" class="btn btn-secondary" style="margin-top: 20px;">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>